/.quarto/
_book/
docs/

ressources/
# ideas/draft for new chapters
chapters/Ex*

# old chapters
chapters/old_*

# data/gbif_otter_2021_mpl50km.gpkg => make easier to have it
data/BDALTI_class*
data/MPL_elevation_lulc*
data/*_old.nc*
data/gadm/
todo.txt